<a href="https://colab.research.google.com/github/jclase/CSC-302-HW/blob/main/ICA6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

file_path = "/content/drive/MyDrive/Colab Notebooks/DATA/titanic.csv"
df = pd.read_csv(file_path)
summary = df.describe(include='all')
print(summary)
df2 = df.dropna(subset=['Age'])
younger = df2[(df2['Survived'] == 1) & (df2['Age'] < 30)]
older = df2[(df2['Survived'] == 1) & (df2['Age'] >= 30)]

        Unnamed: 0  PassengerId    Survived Pclass                     Name  \
count   891.000000   891.000000  891.000000    891                      891
unique         NaN          NaN         NaN      4                      891
top            NaN          NaN         NaN      3  Braund, Mr. Owen Harris
freq           NaN          NaN         NaN    469                        1
mean    445.000000   446.000000    0.383838    NaN                      NaN
std     257.353842   257.353842    0.486592    NaN                      NaN
min       0.000000     1.000000    0.000000    NaN                      NaN
25%     222.500000   223.500000    0.000000    NaN                      NaN
50%     445.000000   446.000000    0.000000    NaN                      NaN
75%     667.500000   668.500000    1.000000    NaN                      NaN
max     890.000000   891.000000    1.000000    NaN                      NaN

         Sex         Age       SibSp       Parch  Ticket        Fare    Cabin  \
count    891  714.000000  891.000000  891.000000     891  891.000000      204
unique     2         NaN         NaN         NaN     681         NaN      147
top     male         NaN         NaN         NaN  347082         NaN  B96 B98
freq     577         NaN         NaN         NaN       7         NaN        4
mean     NaN   29.699118    0.523008    0.381594     NaN   32.204208      NaN
std      NaN   14.526497    1.102743    0.806057     NaN   49.693429      NaN
min      NaN    0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      NaN   20.125000    0.000000    0.000000     NaN    7.910400      NaN
50%      NaN   28.000000    0.000000    0.000000     NaN   14.454200      NaN
75%      NaN   38.000000    1.000000    0.000000     NaN   31.000000      NaN
max      NaN   80.000000    8.000000    6.000000     NaN  512.329200      NaN

       Embarked
count       889
unique        3
top           S
freq        644
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive